<h1>{{projectName}}</h1>

<div class='container'>
    <div class="row align-items-center">
        <div class="col center-text">
            <h3>Costs</h3>
        </div>
        <div class="col center-text">
            <h3>Progress</h3>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class='title'>
        <h3>{{projectName}} Daily Data Log</h3>
    </div>
    <div class="row align-items-center dataTables">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">logID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Planned Progress (%)</th>
                        <th scope="col">Actual Progress (%)</th>
                        <th scope="col">Planned Spend (USD)</th>
                        <th scope="col">Actual Spend (USD)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                    <tr>
                        <th scope="row">{{this.logID}}</th>
                        <td>{{this.date}}</td>
                        <td>{{this.plannedProgress}}</td>
                        <td>{{this.actualProgress}}</td>
                        <td>{{this.plannedSpend}}</td>
                        <td>{{this.actualSpend}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>


<div class="container" id="btnDiv">
    <div class="center">
        <a class="btn btn-primary" href="/projects" role="button">Go back to Projects</a>
    </div>
</div>